<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="assets/app.css">
    <title>Logic Simulator</title>
</head>

<body ng-controller="MainController">
    <div class="header">
        <h1>Logic Simulator</h1>
    </div>
    <div class="page">
        <div class="left">
            FILE
            <button ng-click="newIC()">NEW</button>
            <button ng-disabled="viewStack.length" ng-click="save()">SAVE</button>
            <hr>
            SELECTED
            <button ng-disabled="!selecteds.length" ng-click="delete()">DELETE</button>
            <button ng-disabled="selecteds.length!=1 || selecteds[0].type != 'IC'" ng-click="display()">SCOPE</button>
            <button ng-disabled="viewStack.length==0" ng-click="back()">GO BACK</button>
            <button ng-disabled="!selecteds.length" ng-click="align('top')">ALIGN TOP</button>
            <button ng-disabled="!selecteds.length" ng-click="align('right')">ALIGN RIGHT</button>
            <button ng-disabled="!selecteds.length" ng-click="align('bottom')">ALIGN BOTTOM</button>
            <button ng-disabled="!selecteds.length" ng-click="align('left')">ALIGN LEFT</button>
            <button ng-disabled="!selecteds.length" ng-click="spread()">SPREAD</button>
            <button ng-disabled="!selecteds.length" ng-click="gather()">GATHER</button>            
            <hr>
            ADD
            <button ng-click="add('PIN_IN')">PIN IN</button>
            <button ng-click="add('PIN_OUT')">PIN OUT</button>
            <button ng-click="add(gp[0])" ng-repeat="gp in gatePrototypes">{{gp[0]}}</button>
        </div>
        <div class="content">
            <svg 
                ng-attr-width="{{CW}}" ng-attr-height="{{CH}}" 
                ng-mousedown="dragStart($event)" ng-mouseup="dragEnd($event)" ng-mousemove="drag($event)">

                <path ng-repeat="c in connections"
                    ng-attr-d="M{{(c.g1 ? CW * c.g1.pos.left : 0) + (c.g1 ? c.g1.W : CW) * c.p1.pos.left}} {{(c.g1 ? CH * c.g1.pos.top : 0)  + (c.g1 ? c.g1.H : CH) * c.p1.pos.top}} L{{(c.g2 ? CW * c.g2.pos.left : 0) + (c.g2 ? c.g2.W : CW) * c.p2.pos.left}} {{(c.g2 ? CH * c.g2.pos.top : 0)  + (c.g2 ? c.g2.H : CH) * c.p2.pos.top}}"
                    ng-attr-stroke="{{c.p1.value ? 'red':'gray'}}" stroke-width="4" />


                <!--IC PINS-->
                <g ng-repeat="p in ic.pins">
                    <circle 
                        ng-attr-cx="{{p.pos.left*CW+PR}}" ng-attr-cy="{{p.pos.top*CH}}" ng-attr-r="{{PR}}"
                        ng-attr-fill="{{p.value===1?'red':'gray'}}" stroke-width="4" ng-attr-stroke="{{isSelected(p) ? 'yellow' : 'none'}}" 
                        ng-mousedown="select(p, $event)" ng-click="p.value = p.value ? 0 : 1" />
                </g>

                <!--GATE-->
                <g ng-repeat="g in ic.gates">

                    <rect ng-if="g.type!='LED'" 
                        ng-attr-x="{{g.pos.left*CW}}" ng-attr-y="{{g.pos.top*CH}}" ng-attr-width="{{g.W}}" ng-attr-height="{{g.H}}" 
                        fill="black" stroke-width="4" ng-attr-stroke="{{isSelected(g) ? 'yellow' : 'none'}}" 
                        ng-mousedown="select(g, $event)" />

                    <circle ng-if="g.type=='LED'" 
                        ng-attr-cx="{{g.pos.left*CW+g.W}}" ng-attr-cy="{{g.pos.top*CH+g.W}}" ng-attr-r="{{g.W}}" ng-attr-fill="{{g.pins[0].value?'lime':'green'}}" 
                        stroke-width="4" ng-attr-stroke="{{isSelected(g) ? 'yellow' : 'none'}}" 
                        ng-mousedown="select(g, $event)" />

                    <text ng-if="g.type!='LED'" 
                        ng-attr-x="{{g.pos.left*CW + 20}}" ng-attr-y="{{g.pos.top*CH + 20}}"
                        ng-attr-fill="{{isSelected(g) ? 'yellow' : 'white'}}"
                        ng-mousedown="select(g, $event)">{{g.name ? g.name : g.type}}</text>

                    <!--LEDS-->
                    <circle ng-repeat="sg in g.gates" ng-if="sg.type=='LED'"
                        ng-attr-cx="{{g.pos.left*CW+sg.pos.left*g.W}}" ng-attr-cy="{{g.pos.top*CH + sg.pos.top*g.H}}" ng-attr-r="{{PR}}" 
                        ng-attr-fill="{{sg.pins[0].value?'lime':'green'}}" stroke-width="4" stroke="none"/>

                    <!--PINS-->
                    <g ng-repeat="p in g.pins">
                        <circle 
                            ng-attr-cx="{{g.pos.left*CW + p.pos.left*g.W}}" ng-attr-cy="{{g.pos.top*CH + p.pos.top*g.H}}" ng-attr-r="{{PR}}"
                            ng-attr-fill="{{p.value===1?'red':'gray'}}" stroke-width="4" ng-attr-stroke="{{isSelected(p) ? 'yellow' : 'none'}}" 
                            ng-mousedown="select(p, $event)" />
                    </g>
                </g>

                <!--SELECT TOOL-->
                <rect ng-if="selectTool" 
                    ng-attr-x="{{selectTool.start.x}}" ng-attr-y="{{selectTool.start.y}}" ng-attr-width="{{selectTool.end.x-selectTool.start.x}}" ng-attr-height="{{selectTool.end.y-selectTool.start.y}}" 
                    fill="none" stroke-width="1" stroke="gray" stroke-dasharray="5,5"/>

            </svg>
            <pre style="display: inline-flex;vertical-align: top;">
{{(selecteds[0] || ic) | json}}
            </pre>
        </div>
    </div>
    <script type="text/javascript" src="assets/angular.min.js"></script>
    <script type="text/javascript" src="assets/gates.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>
</body>

</html>